@model LMSServices.Models.LeaveRequest

@{
    ViewBag.Title = "Delete";
}

<h2>Διαγραφή</h2>

<h3>Είστε σίγουρος ότι θέλετε να διαγράψετε αυτή την αίτηση;</h3><br />
<fieldset>
    <legend>LeaveRequest</legend>

    <div class="display-label">
        @ViewBag.descr.Get("LeaveRequestColumns", "UserID")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserID)
    </div>

    <div class="display-label">
        @ViewBag.descr.Get("LeaveRequestColumns", "FromDate")
    </div>
    <div class="display-field">
        @Model.FromDate.ToString("dd-MM-yyyy")
    </div>

    <div class="display-label">
        @ViewBag.descr.Get("LeaveRequestColumns", "ToDate")
    </div>
    <div class="display-field">
        @Model.ToDate.ToString("dd-MM-yyyy")
    </div>

    <div class="display-label">
        @ViewBag.descr.Get("LeaveRequestColumns", "Type")
    </div>
    <div class="display-field">
        @ViewBag.descr.Get("LeaveRequestType", Model.Type)
    </div>

    <div class="display-label">
        @ViewBag.descr.Get("LeaveRequestColumns", "NumOfDays")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumOfDays)
    </div>

    <div class="display-label">
         @ViewBag.descr.Get("LeaveRequestColumns", "Status")
    </div>
    <div class="display-field">
        @ViewBag.descr.Get("LeaveRequestStatus", Model.Status)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Διαγραφή" /> |
        @Html.ActionLink("Επιστροφή στη Λίστα", "UserLeaveRequests")
    </p>
}
