@model LMSServices.Models.LeaveRequest

@{
    ViewBag.Title = "Λεπτομέρειες Αίτησης";
}

<h2>@ViewBag.Title</h2>

<fieldset>
    <legend>LeaveRequest</legend>

    <div class="display-label">
        @ViewBag.descr.Get("LeaveRequestColumns", "UserID")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserID)
    </div><br />
    
    <div class="display-label">
         @ViewBag.descr.Get("LeaveRequestColumns", "FromDate")
    </div>
    <div class="display-field">
        @if (Model.Status == "A" && @Model.AcceptedFromDate.Value != @Model.FromDate)
        {
            @Model.AcceptedFromDate.Value.ToString("dd-MM-yyyy") 
            <br /><small>(Αίτηση: @Model.FromDate.ToString("dd-MM-yyyy"))</small>               
        }
        else
        {
            @Model.FromDate.ToString("dd-MM-yyyy")
        }
    </div><br />

    <div class="display-label">
         @ViewBag.descr.Get("LeaveRequestColumns", "ToDate")
    </div>
    <div class="display-field">
        @if (Model.Status == "A" && @Model.AcceptedToDate.Value != @Model.ToDate)
        {
            @Model.AcceptedToDate.Value.ToString("dd-MM-yyyy") 
            <br /><small>(Αίτηση: @Model.ToDate.ToString("dd-MM-yyyy"))</small>
        }
        else
        {
            @Model.ToDate.ToString("dd-MM-yyyy")
        }
    </div><br />

    <div class="display-label">
         @ViewBag.descr.Get("LeaveRequestColumns", "Type")
    </div>
    <div class="display-field">
        @ViewBag.descr.Get("LeaveRequestType", Model.Type)
    </div><br />

    <div class="display-label">
         @ViewBag.descr.Get("LeaveRequestColumns", "NumOfDays")
    </div>
    <div class="display-field">
        @if (Model.Status == "A" && @Model.AcceptedNumOfDays != @Model.NumOfDays)
        {
            @Model.AcceptedNumOfDays 
            <br /><small>(Αίτηση: @Model.NumOfDays)</small>               
        }
        else
        {
            @Model.NumOfDays
        }
    </div><br />

    <div class="display-label">
         @ViewBag.descr.Get("LeaveRequestColumns", "Status")
    </div>
    <div class="display-field">
         @ViewBag.descr.Get("LeaveRequestStatus", Model.Status)
    </div><br />
</fieldset>
<br />
<p>
    @if (String.Compare(Model.Status, "P", false)  == 0 && Model.FromDate > DateTime.Now)
    {
        @Html.ActionLink("Επεξεργασία", "Edit", new { id = Model.ID }) 
    }
    <br />
    @if (User.IsInRole("HumanResources"))
    {
        @Html.ActionLink("Επιστροφή στη Λίστα Αιτήσεων σε εκκρεμότητα", "PendingLeaveRequests")
        <br />
        @Html.ActionLink("Επιστροφή στη Λίστα Προσωπικών Αιτήσεων", "UserLeaveRequests")
    }
    else
    {
        @Html.ActionLink("Επιστροφή στη Λίστα", "UserLeaveRequests")
    }
</p>
