@model LMSServices.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>User</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Username)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Username)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Password)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Password)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Comment)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Comment)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LogOnMessage)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LogOnMessage)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LogOffMessage)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LogOffMessage)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastLoginDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastLoginDT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ChangePassword)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ChangePassword)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ChangePasswordDT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ChangePasswordDT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.InActive)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InActive)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RegistrationDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RegistrationDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RemainingLeaveDays)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RemainingLeaveDays)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
